@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
  height: 100%;
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%; 
}

a {
	color: #f48b8b;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: #8b9ff5;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {color: #8ce4a6}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

hr {
	display: block;
	border: 0;
	height: 1px;
	border-top: 1px solid #ccc;
	padding: 0;
}

.right { float: right}
.left {float: left}
.clear {clear: both}

/* Selection block */

::selection {background: #f58b8b; color: #fff}
::-moz-selection {background: #f58b8b; color: #fff}

header, footer {
	width: 98%;
	background-color: #fff;
	float: left;
}

header {
	border-bottom: 2px solid silver;
	padding: 1%; 
}

#logo {
	font-size: 2em;
	font-family: "Segoe UI", sans-serif;
	color: silver;
}

.contact {
	font-size: 1.5em;
	font-family: "Segoe UI", sans-serif;
	margin-left: 20px;	
}

input[tupe=text].field {
	border-radius: 5px;
	border: 2px solid silver;
	padding: 5px;
	margin-left: 20px; 
}

input[tupe=text].field:focus {
	border: 2px solid #f58b8b;
} 

#menu{
	color: #666;
	font-family: "Segoe UI", sans-serif;
	font-size: 1.7em;
}

#menu hr {
	width: 500px;
	max-width: 100%%;
	margin-top: 5px;
	margin-bottom: 10px;
}

#menuHrefs a {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: #626262;
}

#menuHrefs a:hover {
	background-color: #cdcdcd;
}

/* Основные стили для сайта */

#wrapper {
	float: left;
	width: 100%;
	margin-top: 20px; 
}

#wrapper #articles {
	float: left; ;
	width: 80%;
	margin-left: 10%;
}

#wrapper #articles article {
	float: left;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fafafa;
	min-height: 400px; 
}

@media (min-width: 900px){
#wrapper #articles article {
	width: 31.3%;
	margin-right: 2%;
	margin-bottom: 10px;  
}}

@media (max-width: 899px) and (min-width: 700px) {
#wrapper #articles article {
	width: 80%;
	margin-left: 10%; 
}}

@media (max-width: 699px){
#wrapper #articles article {
	width: 100%;
	margin-bottom: 10px; 
}}

#wrapper #articles article img {
	width: 100%;
	height: 200px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid silver;
	margin-bottom: 10px; 
}

#wrapper #articles article h2 {
	width: 90%;
	margin-left: 5%;
	font-weight: normal;
	font-size: 1.7em;
	color: #4a4a4a;
}

#wrapper #articles article p {
	width: 80%;
	margin left: 10%;
	text-indent: 1em;
}

#wrapper #articles article a {
    padding: 5px;
    background-color: #ed7b7b;
    margin-left: 5%;
    border-radius: 5px;
    color: #fff;
    float: left;
    margin-bottom: 10px;
}

#wrapper #articles article a:hover {background-color: #90ed80}

/* Стили для странички о нас */  

#about_us {
	width: 60%;
	float: left;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	padding: 1%;
}

#columRight{
	width: 30%;
	float: left;
	margin-left: 5%;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	padding: 1%; 
}

/* Стили для формы */

form {
	width: 60%;
	margin-left: 20%;
    float: left;
}

form label {
	float: left;
	width: 100%;
	margin-bottom: 10px; 
}

form input {
	border-radius: 5px;
	border: 2px solid silver;
	padding: 5px;
	float: left;
	clear: both;
	width: 40%;
	margin-bottom: 10px; 
	background-color: #fafafa; 
}

form input:focus, form textarea:focus {
	border: 2px solid #f58b8b;
}

form textarea {
	width: 60%;
	float: left;
	clear: both;
	background-color: #fafafa;
	border: 2px solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 1.7em;  
}

form #send {
	float: left;
	padding: 10px;
	background-color: #f37a7a;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 2em;
	color: #fff;
}

form #send:hover {
	background-color: #f1f37a;
}

/* Центральный блок сайта */

#main_soc_block {
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin: 20px 0;
    float: left;
    background: url('./img/img-17.jpg') repeat-x center;
    height: 200px;  
}

#main_soc_block_in {
	text-align: center;
	padding: 1%; 
	height: 100px;
	background-color: #fafafa;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 7px;
	width: 500px;
	max-width: 98%;
}

#main_soc_block_in a {
	float: left;
	padding: 5px 10px;
	background-color: #e9af32;
	border-radius: 6px;
	color: #fff;
	margin-left: 35%;
	margin-top: 15px;  
}	
/* Стили для футера */

footer {
	border-top: 2px solid silver;
	margin-top: 10px;
	padding: 1%;
	padding-bottom: 2%;
}

footer img {width: 10%; float: left; margin-right: 5px}

#page-wrap:after {
	content: "";
	display: block;
}

footer, #page-wrap:after {height: 10px}

#page-wrap {
	min-height: 94%;
	margin-bottom: -10px;
}
 		